.left-menu-main-block {
  display: flex;
  width: 234px;
  height: 100vh;
  border: 1px #d9d9d9 solid;
  background-color: #ffffff;
  z-index: 1;
  flex-direction: column;
  padding-bottom: 35px;
  position: fixed;
}
.left-menu-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin: 16px;
  margin-bottom: 62px;
}
.left-submenu-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #888888;
  margin-left: 8px;
  margin-bottom: 8px;
  padding-left: 8px;
}
.left-menu-subblock {
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-menu-option-block {
  display: flex;
  margin-left: 8px;
  padding-left: 16px;
  cursor: pointer;
}
.left-menu-option-block:hover {
  transition: all ease-in 0.2s;
  transform: scale(1.04);
}
.left-menu-option-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-left: 6px;
  text-align: center;
  display: flex;
  align-items: center;
}
.option-icon {
  width: 16.66666603088379px;
  height: 16.66666603088379px;
}
@media (max-width: 890px) {
  .left-menu-main-block{
display: none;
  }
}