@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@font-face {
  font-family: "SF Pro";
  src: url("./fonts/SF-Pro-Display-Semibold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
}

ul,
ol {
  list-style: none;
}

#detach-button-host {
  display: none;
}
input:focus {
  outline: none;
}